<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter 2</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <div class="container">
        <ul>
            <li><a href="index.html" id="current">Twitter</a></li>
            <li><a href="index.html">Home</a></li>
            <li><a href="index.html">Explore</a></li>
            <li><a href="index.html">Notifications</a></li>
            <li><a href="index.html">Messages</a></li>
            <li><a href="index.html">Bookmarks</a></li>
            <li><a href="index.html">Lists</a></li>
            <li><a href="index.html">Profile</a></li>
            <li><a href="index.html">More</a></li>

            <button id="tweet_button1">Tweet</button>
        </ul>
    </div>

    <div class="feed">
        <div id="home">
            <h1>Home</h1>
        </div>
        <div class = "tweetbox">
            <input type="text" placeholder="What's Happening?" 
                v-model="content" @keyup.enter="Post(content)">
            <button id="tweet_button2" @click="Post(content)">Tweet</button>
        </div>
        <div class="separador"><br></div>

        <div class="tweets_container">
            <ul class="tweet2">
                <li v-for="tw in tweets.slice().reverse()"> 
                    <img src="profile.png" width="50px" style="float:left; margin-right: 10px;">
                    <h2>Usuario<strong>@Usuario</strong></h2>    
                    {{tw}}
                </li>
            </ul>
        </div>
    </div>

</body>

<script src="main.js"></script>

</html>